# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.gitignore
bin
!cocos2d/cocos/platform/android/java/libs
!cocos2d/cocos/platform/android/java/src
cocos2d
Files
old sounds
proj.android/.externalToolBuilders
proj.android/.settings
proj.android/assets
proj.android/bin
proj.android/gen
proj.android/libs
proj.android/obj
proj.android-studio
proj.ios_mac/mac
proj.ios_mac/Tap3.xcodeproj
proj.ios/mac/Tap3-mobile
proj.linux
proj.win8.1-universal
!proj.win10/App/pch.h
!proj.win10/App/pch.cpp
proj.win10
proj.win32
!Resoures/sdkbox_config.json
Resources
Store-Listing
new tile design direction.txt
Tap-3-Trailer.txt
cocos2d/cocos/platform/android/java/gen/org/cocos2dx/lib/BuildConfig.java
cocos2d/cocos/platform/android/java/libs/gps/gen/com/google/android/gms/BuildConfig.java
Tips for Future Projects.txt
